.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}
